# Virtual Environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# SQLite database
instance/*.db

# Generated uploads
smartcare/static/uploads/profile_photos/*
smartcare/static/uploads/lab_reports/*

# VS Code
.vscode/

# PyCharm
.idea/

# Log files
*.log